<div>
    <a ng-href="#" ng-click="back()">Back to Search Results</a>
    <form name="employeeForm" class="form-horizontal" role="form">
        <ng-include src="'/app/templates/create-edit-employee.html'"></ng-include>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="email" class="form-control" ng-model="employee.email" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click="save()">Save Changes</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>