<div>
    <div class="alert alert-success col-md-offset-2 col-md-6 col-md-offset-4" role="alert" ng-if="employeePassword">
        <strong>{{employee.firstName}} {{employee.lastName}} created</strong> - password is {{employeePassword}}
    </div>
    <form class="form-horizontal" role="form">
        <ng-include src="'/app/templates/create-edit-employee.html'"></ng-include>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="email" class="form-control" ng-model="employee.email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click="create()">Create Employee</button>
            </div>
        </div>
    </form>
</div>
